.state {
	&-section {
		background: lighten($dark-black, 85%);
		padding: 20px;
		margin: 10px;
		border-radius: 10px;
	}
}
details {
	border: 2px solid $dark-grey;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	cursor: pointer;

	& > summary {
		font-weight: 600;
	}
}
