.table {
	display: table;
	text-align: center;
	border-collapse: collapse;

	&-wrapper {
		margin: 10px;
		@media only screen and (max-width: 375px) {
			width: 98%;
			overflow-x: auto;
		}
		@media only screen and (min-width: 375px) and (max-width: 768px) {
			width: 98%;
			overflow-x: auto;
		}
	}

	&-row {
		display: table-row;

		&:nth-child(odd) {
			background: $lightest-grey;
		}
	}

	&-header {
		display: table-header-group;
		background: #000;
		color: #fff;
	}

	&-head,
	&-cell {
		display: table-cell;
		padding: 10px;
		text-align: left;
		vertical-align: middle;
		cursor: pointer;

		&:not(:last-child) {
			border-right: 1px solid $light-grey;
		}
	}

	&-info {
		margin: 10px;
	}
}

.state-cell,
.district-cell {
	width: 30%;
}
