@import '../../styles/variables/variables.scss';

.typeahead {
	&-container {
		display: flex;
		width: 50%;
		flex-flow: column nowrap;
		margin: 0 0 20px 0;

		@media screen and (max-width: 375px) {
			width: 80%;
		}
	}

	&-input {
		padding: 10px;
		border: 1px solid transparent;
		width: 95%;
		outline: none;
		border-radius: 10px;

		@media only screen and (max-width: 375px) {
			width: 90%;
		}
		@media only screen and (min-width: 375px) and (max-width: 768px) {
			width: 90%;
		}
	}

	&-list {
		list-style-type: none;
		border-top: none;
		border-left: 1px solid $dark-grey;
		border-right: 1px solid $dark-grey;
		border-bottom: 1px solid $dark-grey;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 10px;
	}

	&-list-item {
		font-weight: 500;
		padding: 10px 0;
		cursor: pointer;

		&:not(:last-child) {
			border-bottom: 1px solid $dark-grey;
		}

		&:hover {
			font-weight: 600;
		}
	}
}

span.input-container {
	display: inline-block;
	background: $clear-white;
	border-radius: 10px;
}

span.clear-input {
	border-radius: 50%;
	background: $dark-grey;
	color: $clear-white;
	font-weight: 600;
	display: inline-block;
	height: 20px;
	width: 20px;
	text-align: center;
	cursor: pointer;
}
