@import './variables/variables.scss';

* {
	box-sizing: border-box;
	font-family: monospace, Arial, Helvetica, sans-serif;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	background: $light-gray;
}

.show {
	display: block;
	visibility: visible;
}

.hide {
	display: none;
	visibility: hidden;
}

.info-icon {
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	font-size: 12px;
	text-align: center;
	font-weight: 600;
	padding: 0;
	color: $clear-white;
	background: $dark-grey;
	&::after {
		content: 'i';
	}
}

.up {
	&:before {
		content: '\2191';
	}
}

.down {
	&:before {
		content: '\2193';
	}
}

.confirmed {
	color: $border-red;
}

.recovered {
	color: $border-green;
}

.deceased {
	color: $dark-grey;
}

@import './header/header.scss';
@import './footer/footer.scss';
@import './content/content.scss';
@import './card/card.scss';
@import './card/detail-card.scss';
@import './loader/loader.scss';
@import './typeahead/typeahead.scss';
@import './navbar/navbar.scss';
@import './table/table.scss';

.__react_component_tooltip {
	max-width: 250px;
	text-align: left !important;
	font-size: 12px !important;
	border-radius: 10px !important;
}

.__react_component_tooltip .multi-line {
	text-align: left !important;
	font-size: 12px !important;
}
