@import './variables/variables.scss';

* {
	box-sizing: border-box;
	font-family: monospace, Arial, Helvetica, sans-serif;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	background: $light-gray;
}

.show {
	display: block;
	visibility: visible;
}

.hide {
	display: none;
	visibility: hidden;
}

@import './header/header.scss';
@import './footer/footer.scss';
@import './content/content.scss';
@import './card/card.scss';
@import './card/detail-card.scss';
@import './loader/loader.scss';
@import './typeahead/typeahead.scss';
