$dark-black: #000;
$dark-grey: #666;
$light-gray: #ddd;
$mid-gray: #999;
$light-grey: #eee;
$border-blue: #16d;
$shadow-blue: lighten($border-blue, 25%);
$border-green: #090;
$shadow-green: lighten($border-green, 25%);
$border-gray: #333;
$shadow-gray: lighten($border-gray, 25%);
$border-red: #b22;
$shadow-red: lighten($border-red, 25%);
$border-purple: #514;
$shadow-purple: lighten($border-purple, 25%);
$text-shadow: #03c;
