footer {
	position: fixed;
	bottom: 0;
	right: 0;
	div {
		text-align: center;
		cursor: pointer;
		span {
			display: inline-block;
			width: 25px;
			height: 25px;
			margin: 10px;
			svg {
				height: 20px;
				width: 20px;
			}
		}
	}
}
