footer {
	position: sticky;
	bottom: 0;
	background: $light-gray;
	opacity: 0.8;
	div {
		text-align: right;
		cursor: pointer;
		span {
			display: inline-block;
			width: 25px;
			height: 25px;
			margin: 10px;
			svg {
				height: 20px;
				width: 20px;
			}
		}
	}
}
